@use '../../../styles/imports' as *;

.section {
  h4,
  h5 {
    text-align: center;
    position: relative;
    color: black;
    background-image: url('/text-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h4 {
    font-size: px-to-rem(64);
  }

  h5 {
    font-size: px-to-rem(48);
  }

  .carouselSection {
    margin: 100px 0;
    .carouselTextBox {
      aspect-ratio: 256/102;
      background-image: url('/home/super-star-carousel/text-bg.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 50px;
      width: 100%;
      height: auto;
    }
    .slideSection1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 30px;
      // padding: 50px;
      aspect-ratio: 260/610;
      height: 1000px;
      width: auto;
    }
    .slideSection2 {
      row-gap: 30px;
      // padding: 50px;
      aspect-ratio: 625/610;
      // height: 80vh;
      height: 1000px;
      width: auto;
    }
  }
}
