.backdrop {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: rgba($color: #000000, $alpha: 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.startButton {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #fff;
  background: transparent;
  // background: linear-gradient(135deg, #1e90ff, #00c9a7);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
    // background: linear-gradient(135deg, #00c9a7, #1e90ff);
  }
}
.audiotag {
  display: none;
}
.audioControls {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 999;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  .controlButton {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
  }
}
